<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
  <a style="color: white;" class="navbar-brand" href="#">SMS HOSPITALS</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="mx-2">
      <a style="margin: 5px;" (click)="loginPage('login-page')" class="btn btn-danger" data-toggle="modal"
        data-target="#loginModal">
        Login
      </a>
    </div>
  </div>
</nav>

<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <button class="btn btn-secondary btn-lng">
          <h2>Welcome to SMS HOSPITAL</h2>
        </button>
        <p></p>
        <button class="btn btn-danger">10000+ Healing Hands</button>
        <button class="btn btn-primary" style="margin-left: 16px;">Advanced Treatment</button>
        <button class="btn btn-success" style="margin-left: 16px;">Best Clinical Outcomes</button>
      </div>
    </div>
  </div>
</div>

<div class="container my-4">
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Why Choose SMS HOSPITAL Healthcare?</h3>
          <p class="card-text mb-auto">Largest network of the world's finest and brightest medical experts who provide
            compassionate care using outstanding expertise and advanced technology.</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="assets/4.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success"></strong>
          <h3 class="mb-0">Stop The Stroke!</h3>
          <p class="mb-auto">When someone has a stroke, we lose crucial brain cells, the key to mobility, communication,
            and memory.</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="assets/5.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-danger"></strong>
          <h3 class="mb-0">SMS HOSPITAL Heart Institute Expertise</h3>
          <p class="card-text mb-auto">The SMS HOSPITAL Heart Institutes are regarded as one of the best heart hospitals
            in India, performing a multitude of treatments and procedures in cardiology and cardiothoracic surgery.</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="assets/6.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-warning"></strong>
          <h3 class="mb-0">SMS HOSPITAL Never Sleeps</h3>
          <p class="mb-auto">Get the most advanced emergency care anywhere in minutes. For free ambulance service dial
            "1066".</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="assets/7.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container">
  <p> Contact: 1860 344 5454 </p>
  <p>© 2024-2025 SMS HOSPITAL Hospitals, Inc. </p>
</footer>